


@model List<TypeofPermissionViewModel>







<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">İzin Türü Listesi</h4>
            <a asp-controller="TypeofPermission" asp-action="TypeofPermissionCreate" class="btn btn-primary btn-sm">İzin Türü Ekle</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example3" class="display" style="min-width: 845px">
                    <thead>
                        <tr>
                            <th style="display:none">İzinTürü Id</th>
                            <th>İzin Türü Adı</th>
                            <th>Süre</th>
                            <th>Cinsiyet</th>
                             <th>İşlemler</th>



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="display:none;">@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Duration</td>
                                <td>@item.Gender</td>

                                <td>
                                    <div class="d-flex">
                                        <a asp-controller="TypeofPermission" asp-action="TypeofPermissionEdit" asp-route-id="@item.Id" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                        <a asp-controller="TypeofPermission" asp-action="TypeofPermissionDelete" asp-route-id="@item.Id" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




