



@model List<AdvanceViewModel>

    <style> 
        th,tr{
            text-align:center;
        }
    </style>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Avans Onay Listesi</h4>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example3" class="display" style="min-width: 845px">
                    <thead>
                        <tr>
                            <th style="display:none">Avans Onay Id</th>
                            <th>İstek Tarihi</th>
                            <th>Yanitlama Tarihi</th>
                            <th>Durum</th>
                            
                            <th>Toplam Miktar</th>
                            <th>Avans Türü</th>
                            <th>Personel</th>
                            <th>İşlemler</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="display:none;">@item.Id</td>
                                <td>@item.RequestDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if (item.DateofReply == new DateTime(1, 1, 1))
                                    {
                                        <span>Cevaplanmadı</span>
                                    }
                                    else
                                    {
                                        @item.DateofReply.ToString("dd/MM/yyyy")
                                    }
                                </td>
                                <td>@item.StatusofApproval</td>


                                <td>@item.TotalAmount</td>
                                <td>@item.TypeofAdvance</td>

                                <td>@item.Personel.UserName</td>

                                <td>
                                    <div class="d-flex" style="justify-content:center;align-items:center;">
                                        <a asp-controller="Approval" asp-area="Yönetici" asp-action="AdvanceApproval" asp-route-id="@item.Id" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
